:root {
  --color-brand-navy: #25274D;
  --color-brand-slate: #464866;
  --color-brand-mist: #AAABB8;
  --color-brand-cyan: #2E9CCA;
  --color-brand-blue: #29648A;
  --color-white: #FFFFFF;
  --color-black: #000000;
}
